<div style="position: relative; height: 60px;">
    <div style="position: absolute; top: 0px; left: 20px;">
        <b>Last Updated:</b>
        <span style="color: rgb(25, 167, 255);">
            {{ now.Format "02-01-2006" }}
        </span>
    </div>

    <div style="position: absolute; top: 25px; left: 20px;">
        <b>Team:</b>
        <a href="https://www.facebook.com/groups/660548818043427"
           target="_blank"
           style="color: rgb(25, 167, 255);">
            Super Chickens
        </a>
    </div>
</div>

<script async defer src="https://buttons.github.io/buttons.js"></script>